html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    /* padding-top: 200px; */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* header {
    background-color: #f11e1e;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

header button a {
    color: #ffffff;
    text-decoration: none;
} */

/* .poster-title {
    font-size: 3.5rem;
    color: #ffee02;
    text-shadow: 5px 5px #a18700a8;
    text-align: center;
    flex:1;
    letter-spacing: 2px;
    line-height: 1.4;
} */

/* .nav {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1976D2;
    cursor: pointer;
}

.nav button:hover {
    background-color: #1565C0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
} */

.section {
    padding: 60px 0;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section:nth-child(even) {
    background-color: #f9f9f9;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1976D2;
}

.section p,
.section ul {
    text-align: center;
    font-size: 18px;
}

ul li {
    margin: 10px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.video {
    text-align: center;
    margin-top: 40px;
}

.video iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1976D2;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1565C0;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background-color: #d22519 !important;
}

#carouselExampleIndicators .carousel-indicators [data-bs-target] {
    background-color: #d22519 !important;
}